header { 
    display: flex;
    justify-content: space-between;
    padding: 0.5em;
}

.header-bg {
    display: block;
    position: absolute;
    z-index: -1;
    top: 0px;
    left: 0px;
    opacity: 0.9;
    transform: scale(1.4);
    content: url(../img/header.png);
}

.header-logo {
    text-shadow: -1px 0 rgba(0,0,0,0.8), 0 1px rgba(0,0,0,0.8), 1px 0 rgba(0,0,0,0.8), 0 1px rgba(0,0,0,0.8);
}

.header-logo_brackets {
    color: var(--pink);
}

.header-logo_arrow {
    color: var(--pink);
}

.header-list {
    display: flex;
}

.header-list__item {
    font-family: var(--secondary-font);
    text-shadow: -1px 0 rgba(0,0,0,0.8), 0 1px rgba(0,0,0,0.8), 1px 0 rgba(0,0,0,0.8), 0 1px rgba(0,0,0,0.8);
    padding-left: 0.5em;
}

.header-list__item span {
    font-size: 0.5em;
}

.header-list li:first-child{
    padding: 0em;
}

.header-list__item a {
    text-decoration: none;
}

.header-list__link {
    color: var(--white);
}