@import url('./header.css');
@import url('./footer.css');

:root {
    --main-font: 'Fira Code', sans-serif;
    --secondary-font: 'Cascadia Code', sans-serif;
    --dark-blue: #0D1117;
    --white: #FFFFFF;
    --yellow: #DCD700;
    --cyan: #00FFFF;
    --pink: #ff0dae;
    --purple: #dd21e7;
}

body {
    font-family: var(--main-font);
    background-color: var(--dark-blue);
    font-size: 1em;
} 

img {
    width: 100%;
    object-fit: cover;
    object-position: bottom;
}

